workspaces-update=true
auto-install-peers=true
legacy-peer-deps=true
engine-strict=true
strict-peer-dependencies = false
public-hoist-pattern[]=*ton*
public-hoist-pattern[]=*melektron*
echo "always-auth=true" >> .npmrc
echo "registry=https://registry.npmjs.org/" >> .npmrc
echo "@ton:registry=https://registry.npmjs.org" >> .npmrc